<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafe">
	<select id="getCount" parameterType="cafeDto"
		resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_cafe
		<choose>
			<when test="title != null and content != null">
				WHERE title LIKE '%'||#{title}||'%' OR
				content  LIKE '%'||#{content}||'%'
			</when>
			<when test="title != null">
				WHERE title LIKE '%'||#{title}||'%'
			</when>
			<when test="writer != null">
				WHERE writer LIKE '%'||#{writer}||'%'
			</when>
		</choose>
	</select>
	<select id="getList" parameterType="cafeDto"
		resultType="cafeDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num, writer, title, viewCount, 
				TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate
				FROM board_cafe
				<choose>
					<when test="title != null and content != null">
						WHERE title LIKE '%'||#{title}||'%' OR
						content  LIKE '%'||#{content}||'%'
					</when>
					<when test="title != null">
						WHERE title LIKE '%'||#{title}||'%'
					</when>
					<when test="writer != null">
						WHERE writer LIKE '%'||#{writer}||'%'
					</when>
				</choose>
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<insert id="insert" parameterType="cafeDto">
		INSERT INTO board_cafe
		(num, writer, title, content, viewCount, regdate)
		VALUES(board_cafe_seq.NEXTVAL, #{writer}, #{title}, #{content},
		#{viewCount}, SYSDATE)	
	</insert>
	
	<select id="getData" parameterType="cafeDto"
		resultType="cafeDto">
		SELECT result1.*
		FROM
			(SELECT num, writer, title, content, viewCount, 
			TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate,
			LAG(num, 1, 0) OVER(ORDER BY num DESC) AS prevNum,
			LEAD(num, 1, 0) OVER(ORDER BY num DESC) AS nextNum
			FROM board_cafe
			<choose>
				<when test="title != null and content != null">
					WHERE title LIKE '%'||#{title}||'%' OR
					content  LIKE '%'||#{content}||'%'
				</when>
				<when test="title != null">
					WHERE title LIKE '%'||#{title}||'%'
				</when>
				<when test="writer != null">
					WHERE writer LIKE '%'||#{writer}||'%'
				</when>
			</choose>
			ORDER BY num DESC) result1
		WHERE num=#{num }
	</select>
	<select id="getData2" parameterType="int"
		resultType="cafeDto">
		SELECT result1.*
		FROM
			(SELECT num, writer, title, content, viewCount, 
			TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate,
			LAG(num, 1, 0) OVER(ORDER BY num DESC) AS prevNum,
			LEAD(num, 1, 0) OVER(ORDER BY num DESC) AS nextNum
			FROM board_cafe
			ORDER BY num DESC) result1
		WHERE num=#{num }
	</select>	
	
	<delete id="delete" parameterType="int">
		DELETE FROM board_cafe
		WHERE num=#{num}
	</delete>
	<update id="addViewCount" parameterType="int">
		UPDATE board_cafe
		SET viewCount=viewCount+1
		WHERE num=#{num}
	</update>
	<update id="update" parameterType="cafeDto">
		UPDATE board_cafe
		SET title=#{title}, content=#{content}
		WHERE num=#{num}
	</update>
</mapper>






