<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafeComment">
	<select id="getList" parameterType="int" resultType="cafeCommentDto">
		SELECT num, writer, content, target_id, ref_group,
			comment_group, deleted, board_cafe_comment.regdate, profile
		FROM board_cafe_comment
		INNER JOIN users
		ON board_cafe_comment.writer = users.id
		WHERE ref_group=#{ref_group}
		ORDER BY comment_group ASC, num ASC
	</select>
	<update id="delete" parameterType="int">
		UPDATE board_cafe_comment
		SET deleted='yes'
		WHERE num=#{num}
	</update>
	<insert id="insert" parameterType="cafeCommentDto">
		INSERT INTO board_cafe_comment
		(num, writer, content, target_id, ref_group, comment_group, regdate)
		VALUES(#{num}, #{writer}, #{content}, #{target_id}, #{ref_group},
		#{comment_group}, SYSDATE)
	</insert>
	<select id="getSequence" resultType="int">
		SELECT board_cafe_comment_seq.NEXTVAL
		FROM DUAL
	</select>
	<update id="update" parameterType="cafeCommentDto">
		UPDATE board_cafe_comment
		SET content=#{content}
		WHERE num=#{num}
	</update>
</mapper>






