<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<select id="isExist" parameterType="java.lang.String" resultType="String">
		SELECT id
		FROM users
		WHERE id=#{inputId}
	</select>
	<insert id="insert" parameterType="usersDto">
		INSERT INTO users
		(id, pwd, email, regdate)
		VALUES(#{id}, #{pwd}, #{email}, SYSDATE)
	</insert>
</mapper>






